<div class="disease-for-text-bin" data-ddid="{{this.dID}}" data-dna="{{this.dName}}" data-ttid="{{this.tID}}" data-tna="{{this.tName}}">

<h3 class="disease-name"> {{this.dName}} </h3>

<div class="disease-id"> Disease ID:{{this.dID}} </div>

</div>
