<div class="disease-for-text-bin" data-ddid="{{this.dID}}" data-dna="{{this.dName}}" data-ttid="{{this.tID}}" data-tna="{{this.tName}}">

<div class="disease-id"> Disease ID:{{this.dID}} </div>

<div class="disease-name"> Disease Name: {{this.dName}} </div>

</div>
