<div id="modal-backdrop" class="hidden"></div>
<div id="location-modal" class="hidden">
	<div class="modal-dialogue">
		
		<div class="modal-header">
			<h3>Address: {{Address}}</h3>
			<button type="button" class="exit-modal-button">Exit</button>
		</div>

		<div class="modal-body">
			<div class="location-modal-img">{{img}}</div>

			<div class="location-modal-bid"Building ID: {{bID}}</div>

			<div class="location-modal-num-staff">Number of staff: PLACEHOLDER</div>

			<div class="location-modal-num-patients">Number of patients: PLACEHOLDER</div>

			<div class="location-modal-num-total-rooms">Number of total rooms: {{Total_Rooms}}</div>

			<div class="location-modal-num-unused-rooms">Number of available rooms: {{Unused_Rooms}}</div>
		</div>
	</div>
</div>


