<div class="p-block" data-pnme="{{this.pName}}" data-ptid="{{this.pID}}" data-ptag="{{this.Age}}" data-proom="{{this.Room_Num}}" data-pbid="{{this.Patients_bID}}" data-snme = "{{this.sName}}" data-stffid="{{this.sID}}">

<h3 class="patient-header-name"> {{this.pName}} </h3>
<div class="content-for-patient">
Patient ID: {{this.pID}} <br>

</div>

</div>
