<div id="modal-backdrop" class="hidden"></div>
<div id="patients-modal" class="hidden">
	<div class="modal-dialogue">

		<div class="modal-header">
			<h3> Name: {{pName}}</h3>
		</div>

		<div class="modal-body">
			<div class="patient-info"> Patient ID: {{pID}}</div><br>

			<div class="patient-info">	Patient Age: {{Age}} </div> <br>

			<div class="patient-info"> Patient Room Num: {{Room_Num}}</div> <br>

			<div class="patient-info"> Patient Building ID: {{Patients_bID}}</div><br>

			<div class="patient-info"> Staff Assigned Name: {{sName}} </div> <br>

			<div class="patient-info"> Staff ID: {{sID}} </div>
		</div>

		<button type="button" onclick="closeModalPatient()" class="exit-modal-button">Exit</button>
	</div>
</div>
