<div class="staff-block" data-stffid ="{{this.sID}}" data-snme="{{this.sName}}" data-semp="{{this.Employee_Type}}" data-stffb="{{this.Staff_bID}}" data-stffwp="{{this.numpatients}}">

<h3 id="staff-name"> {{this.sName}} </h3>
<div id="staff-info">
Staff ID: {{this.sID}}<br>
</div>
</div>
