<div id="modal-backdrop" class="hidden"></div>
<div id="staff-modal" class="hidden">
	<div class="modal-dialogue">
		<div class="modal-header">
			<h3>Name: {{sName}}</h3>
		</div>

		<div class="modal-body">
			<div class="staff-info">Staff ID: {{sID}}</div>

			<div class="staff-info">Staff Building ID: {{Staff_bID}}</div>

			<div class="staff-info">Position: {{Employee_Type}}</div>

			<div class="staff-info"> Number of Patients Overseeing: {{numpatients}}</div>
        </div>

        <button type="button" onclick="closeModalStaff()"  class="exit-modal-button">Exit</button>
    </div>
</div>
