<div class="staff-block" data-stffid ="{{this.sID}}" data-snme="{{this.sName}}" data-semp="{{this.Employee_Type}}" data-stffb="{{this.Staff_bID}}" data-stffwp="{{this.numpatients}}">

<h2 id="staff-name"> Staff Name:{{this.sName}} </h2>

Staff ID: {{this.sID}}<br>

Employee type: {{this.Employee_Type}}<br>

Building ID: {{this.Staff_bID}}<br>

</div>
